break

In [ ]:
number = 1
while True:
    if number % 6 == 0:
        break
    print(number)
    number += 1

1
2
3
4
5

In [ ]:
while True:
    while True:
        break # only break inner loop
    break

In [8]:
number = 1
while number < 10:
    if number % 2 == 0:
        number += 1
        continue # go to the while immeiately. doesn't check conditions
    print(number)
    number += 1

1
3
5
7
9

In [ ]:
number = 1
while number < 10:
    if number % 2 == 0:
        number += 1
        pass # go to print (skip condition in if)
    print(number)
    number += 1

1
3
5
7
9

In [ ]:
# For Loop
# range(start, stop, step)
range(6) # stop (0, 1, 3, 4, 5) not include stopping point
range(0) # generate nothing
range(-5) # nothing

range(1, 10) # start with 1, stop before 10 (1, 2, 3, 4, 5, 6, 7, 8, 9)
range(-1, 5) # -1, 0, 1, 2, 3, 4

range(1, 10, 2) # 1, 3, 5, 7, 9 (increase by 2)
range(10, -2, -2) # 10, 8, 6, 4, 2, 0 (decrease by 2)

range(10, -2, -2)

In [15]:
for index in range(5):
    print(index)

for index in range(5):
    print(index + 2)

0
1
2
3
4
2
3
4
5
6

In [21]:
# print even number from 10 to 0, inclusive

for number in range(10, -1, -2):
    print(number)

10
8
6
4
2
0

In [ ]:
# or # not optimise as this loops 11 times
for number in range(10, -1, -1):
    if number % 2 == 0:
        print(number)

10
8
6
4
2
0

In [24]:
# S sum of square from 1 to n
number = int(input())
sum_of_square = 0
for index in range(1, number + 1):
    sum_of_square += index ** 2
print(sum_of_square)

55

In [ ]:
# O(n)
number = int(input())
result = number * (number + 1) * (2 * number + 1) // 6
print(result)

55

In [ ]:
# Nested Loop
while True:
    for i in range(10):
        while True:
            if True:
                pass
            elif True:
                pass

In [28]:
# Nested Loop
for first_number in range(3): # 0-2
    for second_number in range(4): # 0-3
        print(first_number, second_number)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3

In [29]:
for first in range(2, 5): # 2, 3, 4
    for second in range(2, 6, 2): # 2, 4
        print(first, second)

2 2
2 4
3 2
3 4
4 2
4 4

In [ ]:
i = 2
while i < 5:
    for j in range(1, 5, 2): # 1, 3
        print(i, j)
        i += 1

2 1
3 3
4 1
5 3